In [ ]:
from sqlalchemy import create_engine, text
import pandas as pd

# --- 1. Configuration et Connexion ---
DB_FILE = "sakila_master.db"
# Le moteur utilise le connecteur sqlite3 intégré
engine = create_engine(f"sqlite:///{DB_FILE}")

print(f"Connexion établie à la base de données : {DB_FILE}\n")

# --- 2. Requête SQL (La Jointure) ---
# Objectif : A REMPLIR
# La requête se termine avec un ; 

SQL_QUERY = text(""" REQUETE """) 

# --- 3. Exécution et Récupération des Résultats ---
try:
    with engine.connect() as connection:
        # Exécuter la requête
        result = connection.execute(SQL_QUERY)
        
        # Récupérer les noms des colonnes pour les utiliser dans Pandas
        column_names = list(result.keys())
        
        # Récupérer toutes les lignes (Fetch all)
        data = result.fetchall()

    # --- 4. Affichage des Résultats (avec Pandas pour une belle table) ---
    # Pandas est souvent utilisé en Data Science pour l'affichage de données
    df = pd.DataFrame(data, columns=column_names)
    
    print("--- Résultats de la requête ---")
    print(df.to_markdown(index=False)) # to_markdown est utile pour l'affichage en terminal
    print("---------------------------------------------")

except Exception as e:
    print(f"Une erreur s'est produite lors de l'exécution de la requête : {e}")

In [4]:
from sqlalchemy import create_engine, text
import pandas as pd

# --- 1. Configuration et Connexion ---
DB_FILE = "sakila_master.db"
# Le moteur utilise le connecteur sqlite3 intégré
engine = create_engine(f"sqlite:///{DB_FILE}")

print(f"Connexion établie à la base de données : {DB_FILE}\n")

# --- 2. Requête SQL (La Jointure) ---
# Objectif : Lister les titres de films (film) et les noms des acteurs (actor) associés.

SQL_QUERY = text("""
SELECT * 
FROM 
    actor;
""")

# --- 3. Exécution et Récupération des Résultats ---
try:
    with engine.connect() as connection:
        # Exécuter la requête
        result = connection.execute(SQL_QUERY)
        
        # Récupérer les noms des colonnes pour les utiliser dans Pandas
        column_names = list(result.keys())
        
        # Récupérer toutes les lignes (Fetch all)
        data = result.fetchall()

    # --- 4. Affichage des Résultats (avec Pandas pour une belle table) ---
    # Pandas est souvent utilisé en Data Science pour l'affichage de données
    df = pd.DataFrame(data, columns=column_names)
    
    print("--- Résultats de la requête ---")
    print(df.to_markdown(index=False)) # to_markdown est utile pour l'affichage en terminal
    print("---------------------------------------------")

except Exception as e:
    print(f"Une erreur s'est produite lors de l'exécution de la requête : {e}")

Connexion établie à la base de données : sakila_master.db

--- Résultats de la requête ---
|   actor_id | first_name   | last_name    | last_update         |
|-----------:|:-------------|:-------------|:--------------------|
|          1 | PENELOPE     | GUINESS      | 2020-12-23 07:12:29 |
|          2 | NICK         | WAHLBERG     | 2020-12-23 07:12:29 |
|          3 | ED           | CHASE        | 2020-12-23 07:12:29 |
|          4 | JENNIFER     | DAVIS        | 2020-12-23 07:12:29 |
|          5 | JOHNNY       | LOLLOBRIGIDA | 2020-12-23 07:12:29 |
|          6 | BETTE        | NICHOLSON    | 2020-12-23 07:12:29 |
|          7 | GRACE        | MOSTEL       | 2020-12-23 07:12:29 |
|          8 | MATTHEW      | JOHANSSON    | 2020-12-23 07:12:29 |
|          9 | JOE          | SWANK        | 2020-12-23 07:12:29 |
|         10 | CHRISTIAN    | GABLE        | 2020-12-23 07:12:29 |
|         11 | ZERO         | CAGE         | 2020-12-23 07:12:29 |
|         12 | KARL         | BERRY        | 2020-12-23 07:12:29 |
|         13 | UMA          | WOOD         | 2020-12-23 07:12:29 |
|         14 | VIVIEN       | BERGEN       | 2020-12-23 07:12:29 |
|         15 | CUBA         | OLIVIER      | 2020-12-23 07:12:29 |
|         16 | FRED         | COSTNER      | 2020-12-23 07:12:29 |
|         17 | HELEN        | VOIGHT       | 2020-12-23 07:12:29 |
|         18 | DAN          | TORN         | 2020-12-23 07:12:29 |
|         19 | BOB          | FAWCETT      | 2020-12-23 07:12:29 |
|         20 | LUCILLE      | TRACY        | 2020-12-23 07:12:29 |
|         21 | KIRSTEN      | PALTROW      | 2020-12-23 07:12:29 |
|         22 | ELVIS        | MARX         | 2020-12-23 07:12:29 |
|         23 | SANDRA       | KILMER       | 2020-12-23 07:12:29 |
|         24 | CAMERON      | STREEP       | 2020-12-23 07:12:29 |
|         25 | KEVIN        | BLOOM        | 2020-12-23 07:12:29 |
|         26 | RIP          | CRAWFORD     | 2020-12-23 07:12:29 |
|         27 | JULIA        | MCQUEEN      | 2020-12-23 07:12:29 |
|         28 | WOODY        | HOFFMAN      | 2020-12-23 07:12:29 |
|         29 | ALEC         | WAYNE        | 2020-12-23 07:12:29 |
|         30 | SANDRA       | PECK         | 2020-12-23 07:12:29 |
|         31 | SISSY        | SOBIESKI     | 2020-12-23 07:12:29 |
|         32 | TIM          | HACKMAN      | 2020-12-23 07:12:29 |
|         33 | MILLA        | PECK         | 2020-12-23 07:12:29 |
|         34 | AUDREY       | OLIVIER      | 2020-12-23 07:12:29 |
|         35 | JUDY         | DEAN         | 2020-12-23 07:12:29 |
|         36 | BURT         | DUKAKIS      | 2020-12-23 07:12:29 |
|         37 | VAL          | BOLGER       | 2020-12-23 07:12:29 |
|         38 | TOM          | MCKELLEN     | 2020-12-23 07:12:29 |
|         39 | GOLDIE       | BRODY        | 2020-12-23 07:12:29 |
|         40 | JOHNNY       | CAGE         | 2020-12-23 07:12:29 |
|         41 | JODIE        | DEGENERES    | 2020-12-23 07:12:29 |
|         42 | TOM          | MIRANDA      | 2020-12-23 07:12:29 |
|         43 | KIRK         | JOVOVICH     | 2020-12-23 07:12:29 |
|         44 | NICK         | STALLONE     | 2020-12-23 07:12:29 |
|         45 | REESE        | KILMER       | 2020-12-23 07:12:29 |
|         46 | PARKER       | GOLDBERG     | 2020-12-23 07:12:29 |
|         47 | JULIA        | BARRYMORE    | 2020-12-23 07:12:29 |
|         48 | FRANCES      | DAY-LEWIS    | 2020-12-23 07:12:29 |
|         49 | ANNE         | CRONYN       | 2020-12-23 07:12:29 |
|         50 | NATALIE      | HOPKINS      | 2020-12-23 07:12:29 |
|         51 | GARY         | PHOENIX      | 2020-12-23 07:12:29 |
|         52 | CARMEN       | HUNT         | 2020-12-23 07:12:29 |
|         53 | MENA         | TEMPLE       | 2020-12-23 07:12:29 |
|         54 | PENELOPE     | PINKETT      | 2020-12-23 07:12:29 |
|         55 | FAY          | KILMER       | 2020-12-23 07:12:29 |
|         56 | DAN          | HARRIS       | 2020-12-23 07:12:29 |
|         57 | JUDE         | CRUISE       | 2020-12-23 07:12:29 |
|         58 | CHRISTIAN    | AKROYD       | 2020-12-23 07:12:29 |
|         59 | DUSTIN       | TAUTOU       | 2020-12-23 07:12:29 |
|         60 | HENRY        | BERRY        | 2020-12-23 07:12:29 |
|         61 | CHRISTIAN    | NEESON       | 2020-12-23 07:12:29 |
|         62 | JAYNE        | NEESON       | 2020-12-23 07:12:29 |
|         63 | CAMERON      | WRAY         | 2020-12-23 07:12:29 |
|         64 | RAY          | JOHANSSON    | 2020-12-23 07:12:29 |
|         65 | ANGELA       | HUDSON       | 2020-12-23 07:12:29 |
|         66 | MARY         | TANDY        | 2020-12-23 07:12:29 |
|         67 | JESSICA      | BAILEY       | 2020-12-23 07:12:29 |
|         68 | RIP          | WINSLET      | 2020-12-23 07:12:29 |
|         69 | KENNETH      | PALTROW      | 2020-12-23 07:12:29 |
|         70 | MICHELLE     | MCCONAUGHEY  | 2020-12-23 07:12:29 |
|         71 | ADAM         | GRANT        | 2020-12-23 07:12:29 |
|         72 | SEAN         | WILLIAMS     | 2020-12-23 07:12:29 |
|         73 | GARY         | PENN         | 2020-12-23 07:12:29 |
|         74 | MILLA        | KEITEL       | 2020-12-23 07:12:29 |
|         75 | BURT         | POSEY        | 2020-12-23 07:12:29 |
|         76 | ANGELINA     | ASTAIRE      | 2020-12-23 07:12:29 |
|         77 | CARY         | MCCONAUGHEY  | 2020-12-23 07:12:30 |
|         78 | GROUCHO      | SINATRA      | 2020-12-23 07:12:30 |
|         79 | MAE          | HOFFMAN      | 2020-12-23 07:12:30 |
|         80 | RALPH        | CRUZ         | 2020-12-23 07:12:30 |
|         81 | SCARLETT     | DAMON        | 2020-12-23 07:12:30 |
|         82 | WOODY        | JOLIE        | 2020-12-23 07:12:30 |
|         83 | BEN          | WILLIS       | 2020-12-23 07:12:30 |
|         84 | JAMES        | PITT         | 2020-12-23 07:12:30 |
|         85 | MINNIE       | ZELLWEGER    | 2020-12-23 07:12:30 |
|         86 | GREG         | CHAPLIN      | 2020-12-23 07:12:30 |
|         87 | SPENCER      | PECK         | 2020-12-23 07:12:30 |
|         88 | KENNETH      | PESCI        | 2020-12-23 07:12:30 |
|         89 | CHARLIZE     | DENCH        | 2020-12-23 07:12:30 |
|         90 | SEAN         | GUINESS      | 2020-12-23 07:12:30 |
|         91 | CHRISTOPHER  | BERRY        | 2020-12-23 07:12:30 |
|         92 | KIRSTEN      | AKROYD       | 2020-12-23 07:12:30 |
|         93 | ELLEN        | PRESLEY      | 2020-12-23 07:12:30 |
|         94 | KENNETH      | TORN         | 2020-12-23 07:12:30 |
|         95 | DARYL        | WAHLBERG     | 2020-12-23 07:12:30 |
|         96 | GENE         | WILLIS       | 2020-12-23 07:12:30 |
|         97 | MEG          | HAWKE        | 2020-12-23 07:12:30 |
|         98 | CHRIS        | BRIDGES      | 2020-12-23 07:12:30 |
|         99 | JIM          | MOSTEL       | 2020-12-23 07:12:30 |
|        100 | SPENCER      | DEPP         | 2020-12-23 07:12:30 |
|        101 | SUSAN        | DAVIS        | 2020-12-23 07:12:30 |
|        102 | WALTER       | TORN         | 2020-12-23 07:12:30 |
|        103 | MATTHEW      | LEIGH        | 2020-12-23 07:12:30 |
|        104 | PENELOPE     | CRONYN       | 2020-12-23 07:12:30 |
|        105 | SIDNEY       | CROWE        | 2020-12-23 07:12:30 |
|        106 | GROUCHO      | DUNST        | 2020-12-23 07:12:30 |
|        107 | GINA         | DEGENERES    | 2020-12-23 07:12:30 |
|        108 | WARREN       | NOLTE        | 2020-12-23 07:12:30 |
|        109 | SYLVESTER    | DERN         | 2020-12-23 07:12:30 |
|        110 | SUSAN        | DAVIS        | 2020-12-23 07:12:30 |
|        111 | CAMERON      | ZELLWEGER    | 2020-12-23 07:12:30 |
|        112 | RUSSELL      | BACALL       | 2020-12-23 07:12:30 |
|        113 | MORGAN       | HOPKINS      | 2020-12-23 07:12:30 |
|        114 | MORGAN       | MCDORMAND    | 2020-12-23 07:12:30 |
|        115 | HARRISON     | BALE         | 2020-12-23 07:12:30 |
|        116 | DAN          | STREEP       | 2020-12-23 07:12:30 |
|        117 | RENEE        | TRACY        | 2020-12-23 07:12:30 |
|        118 | CUBA         | ALLEN        | 2020-12-23 07:12:30 |
|        119 | WARREN       | JACKMAN      | 2020-12-23 07:12:30 |
|        120 | PENELOPE     | MONROE       | 2020-12-23 07:12:30 |
|        121 | LIZA         | BERGMAN      | 2020-12-23 07:12:30 |
|        122 | SALMA        | NOLTE        | 2020-12-23 07:12:30 |
|        123 | JULIANNE     | DENCH        | 2020-12-23 07:12:30 |
|        124 | SCARLETT     | BENING       | 2020-12-23 07:12:30 |
|        125 | ALBERT       | NOLTE        | 2020-12-23 07:12:30 |
|        126 | FRANCES      | TOMEI        | 2020-12-23 07:12:30 |
|        127 | KEVIN        | GARLAND      | 2020-12-23 07:12:30 |
|        128 | CATE         | MCQUEEN      | 2020-12-23 07:12:30 |
|        129 | DARYL        | CRAWFORD     | 2020-12-23 07:12:30 |
|        130 | GRETA        | KEITEL       | 2020-12-23 07:12:30 |
|        131 | JANE         | JACKMAN      | 2020-12-23 07:12:30 |
|        132 | ADAM         | HOPPER       | 2020-12-23 07:12:30 |
|        133 | RICHARD      | PENN         | 2020-12-23 07:12:30 |
|        134 | GENE         | HOPKINS      | 2020-12-23 07:12:30 |
|        135 | RITA         | REYNOLDS     | 2020-12-23 07:12:30 |
|        136 | ED           | MANSFIELD    | 2020-12-23 07:12:30 |
|        137 | MORGAN       | WILLIAMS     | 2020-12-23 07:12:30 |
|        138 | LUCILLE      | DEE          | 2020-12-23 07:12:30 |
|        139 | EWAN         | GOODING      | 2020-12-23 07:12:30 |
|        140 | WHOOPI       | HURT         | 2020-12-23 07:12:30 |
|        141 | CATE         | HARRIS       | 2020-12-23 07:12:30 |
|        142 | JADA         | RYDER        | 2020-12-23 07:12:30 |
|        143 | RIVER        | DEAN         | 2020-12-23 07:12:30 |
|        144 | ANGELA       | WITHERSPOON  | 2020-12-23 07:12:30 |
|        145 | KIM          | ALLEN        | 2020-12-23 07:12:30 |
|        146 | ALBERT       | JOHANSSON    | 2020-12-23 07:12:30 |
|        147 | FAY          | WINSLET      | 2020-12-23 07:12:30 |
|        148 | EMILY        | DEE          | 2020-12-23 07:12:30 |
|        149 | RUSSELL      | TEMPLE       | 2020-12-23 07:12:30 |
|        150 | JAYNE        | NOLTE        | 2020-12-23 07:12:30 |
|        151 | GEOFFREY     | HESTON       | 2020-12-23 07:12:30 |
|        152 | BEN          | HARRIS       | 2020-12-23 07:12:30 |
|        153 | MINNIE       | KILMER       | 2020-12-23 07:12:30 |
|        154 | MERYL        | GIBSON       | 2020-12-23 07:12:30 |
|        155 | IAN          | TANDY        | 2020-12-23 07:12:30 |
|        156 | FAY          | WOOD         | 2020-12-23 07:12:31 |
|        157 | GRETA        | MALDEN       | 2020-12-23 07:12:31 |
|        158 | VIVIEN       | BASINGER     | 2020-12-23 07:12:31 |
|        159 | LAURA        | BRODY        | 2020-12-23 07:12:31 |
|        160 | CHRIS        | DEPP         | 2020-12-23 07:12:31 |
|        161 | HARVEY       | HOPE         | 2020-12-23 07:12:31 |
|        162 | OPRAH        | KILMER       | 2020-12-23 07:12:31 |
|        163 | CHRISTOPHER  | WEST         | 2020-12-23 07:12:31 |
|        164 | HUMPHREY     | WILLIS       | 2020-12-23 07:12:31 |
|        165 | AL           | GARLAND      | 2020-12-23 07:12:31 |
|        166 | NICK         | DEGENERES    | 2020-12-23 07:12:31 |
|        167 | LAURENCE     | BULLOCK      | 2020-12-23 07:12:31 |
|        168 | WILL         | WILSON       | 2020-12-23 07:12:31 |
|        169 | KENNETH      | HOFFMAN      | 2020-12-23 07:12:31 |
|        170 | MENA         | HOPPER       | 2020-12-23 07:12:31 |
|        171 | OLYMPIA      | PFEIFFER     | 2020-12-23 07:12:31 |
|        172 | GROUCHO      | WILLIAMS     | 2020-12-23 07:12:31 |
|        173 | ALAN         | DREYFUSS     | 2020-12-23 07:12:31 |
|        174 | MICHAEL      | BENING       | 2020-12-23 07:12:31 |
|        175 | WILLIAM      | HACKMAN      | 2020-12-23 07:12:31 |
|        176 | JON          | CHASE        | 2020-12-23 07:12:31 |
|        177 | GENE         | MCKELLEN     | 2020-12-23 07:12:31 |
|        178 | LISA         | MONROE       | 2020-12-23 07:12:31 |
|        179 | ED           | GUINESS      | 2020-12-23 07:12:31 |
|        180 | JEFF         | SILVERSTONE  | 2020-12-23 07:12:31 |
|        181 | MATTHEW      | CARREY       | 2020-12-23 07:12:31 |
|        182 | DEBBIE       | AKROYD       | 2020-12-23 07:12:31 |
|        183 | RUSSELL      | CLOSE        | 2020-12-23 07:12:31 |
|        184 | HUMPHREY     | GARLAND      | 2020-12-23 07:12:31 |
|        185 | MICHAEL      | BOLGER       | 2020-12-23 07:12:31 |
|        186 | JULIA        | ZELLWEGER    | 2020-12-23 07:12:31 |
|        187 | RENEE        | BALL         | 2020-12-23 07:12:31 |
|        188 | ROCK         | DUKAKIS      | 2020-12-23 07:12:31 |
|        189 | CUBA         | BIRCH        | 2020-12-23 07:12:31 |
|        190 | AUDREY       | BAILEY       | 2020-12-23 07:12:31 |
|        191 | GREGORY      | GOODING      | 2020-12-23 07:12:31 |
|        192 | JOHN         | SUVARI       | 2020-12-23 07:12:31 |
|        193 | BURT         | TEMPLE       | 2020-12-23 07:12:31 |
|        194 | MERYL        | ALLEN        | 2020-12-23 07:12:31 |
|        195 | JAYNE        | SILVERSTONE  | 2020-12-23 07:12:31 |
|        196 | BELA         | WALKEN       | 2020-12-23 07:12:31 |
|        197 | REESE        | WEST         | 2020-12-23 07:12:31 |
|        198 | MARY         | KEITEL       | 2020-12-23 07:12:31 |
|        199 | JULIA        | FAWCETT      | 2020-12-23 07:12:31 |
|        200 | THORA        | TEMPLE       | 2020-12-23 07:12:31 |
---------------------------------------------

In [3]:
from sqlalchemy import create_engine, text
import pandas as pd

# --- 1. Configuration et Connexion ---
DB_FILE = "sakila_master.db"
# Le moteur utilise le connecteur sqlite3 intégré
engine = create_engine(f"sqlite:///{DB_FILE}")

print(f"Connexion établie à la base de données : {DB_FILE}\n")

# --- 2. Requête SQL (La Jointure) ---
# Objectif : Lister les titres de films (film) et les noms des acteurs (actor) associés.

SQL_QUERY = text("""
SELECT 
    t1.first_name, 
    t1.last_name, 
    t3.title
FROM 
    actor AS t1
INNER JOIN 
    film_actor AS t2 ON t1.actor_id = t2.actor_id
INNER JOIN 
    film AS t3 ON t2.film_id = t3.film_id
WHERE 
    t1.last_name = 'CHASE'
LIMIT 
    10;
""")

# --- 3. Exécution et Récupération des Résultats ---
try:
    with engine.connect() as connection:
        # Exécuter la requête
        result = connection.execute(SQL_QUERY)
        
        # Récupérer les noms des colonnes pour les utiliser dans Pandas
        column_names = list(result.keys())
        
        # Récupérer toutes les lignes (Fetch all)
        data = result.fetchall()

    # --- 4. Affichage des Résultats (avec Pandas pour une belle table) ---
    # Pandas est souvent utilisé en Data Science pour l'affichage de données
    df = pd.DataFrame(data, columns=column_names)
    
    print("--- Résultats de la Jointure (10 premiers) ---")
    print(df.to_markdown(index=False)) # to_markdown est utile pour l'affichage en terminal
    print("---------------------------------------------")

except Exception as e:
    print(f"Une erreur s'est produite lors de l'exécution de la requête : {e}")

Connexion établie à la base de données : sakila_master.db

--- Résultats de la Jointure (10 premiers) ---
| first_name   | last_name   | title              |
|:-------------|:------------|:-------------------|
| ED           | CHASE       | ALONE TRIP         |
| ED           | CHASE       | ARMY FLINTSTONES   |
| ED           | CHASE       | ARTIST COLDBLOODED |
| ED           | CHASE       | BOONDOCK BALLROOM  |
| ED           | CHASE       | CADDYSHACK JEDI    |
| ED           | CHASE       | COWBOY DOOM        |
| ED           | CHASE       | EVE RESURRECTION   |
| ED           | CHASE       | FORREST SONS       |
| ED           | CHASE       | FRENCH HOLIDAY     |
| ED           | CHASE       | FROST HEAD         |
---------------------------------------------

In [10]:
from sqlalchemy import create_engine, text
import pandas as pd
import sys
import os 
import datetime # Nécessaire pour l'insertion de la date/heure

# --- Configuration et Connexion ---
DB_FILE = "sakila_master.db"

# Vérification du fichier de base de données
if not os.path.exists(DB_FILE):
    print(f"\nERREUR FATALE : Le fichier de base de données '{DB_FILE}' est introuvable.")
    sys.exit(1)
    
engine = create_engine(f"sqlite:///{DB_FILE}")

# --- Fonction d'Exécution Générique ---
def execute_query(query_title, sql_query, select_verification_query=None):
    """
    Exécute une requête SQL. Gère les SELECT (lecture) et les DML (modification/insertion/suppression).
    """
    print("=" * 70)
    print(f"[{query_title}]")
    print("-" * 70)
    
    try:
        # engine.begin() gère l'ouverture de connexion et le commit/rollback automatique
        with engine.begin() as connection:
            result = connection.execute(text(sql_query))
            
            # Déterminer si c'est une requête de modification de données (DML)
            query_type = sql_query.strip().upper().split()[0]
            
            if query_type in ('INSERT', 'UPDATE', 'DELETE'):
                rows_affected = result.rowcount
                print(f"✅ Opération {query_type} réussie. Lignes affectées : {rows_affected}")

                # Vérification des Changements si une requête SELECT est fournie
                if select_verification_query:
                    print("\n--- Vérification du changement ---")
                    verification_result = connection.execute(text(select_verification_query))
                    column_names = list(verification_result.keys())
                    data = verification_result.fetchall()
                    df = pd.DataFrame(data, columns=column_names)
                    if df.empty and query_type != 'DELETE':
                        print("La requête de vérification n'a retourné aucun résultat (problème de ciblage?).")
                    else:
                        print(df.to_markdown(index=False))
                        
            # Gestion des Requêtes SELECT (Lecture et Agrégation)
            else:
                column_names = list(result.keys())
                data = result.fetchall()
                df = pd.DataFrame(data, columns=column_names)
                if not data:
                    print("Aucun résultat trouvé.")
                    return
                print(df.to_markdown(index=False))
        
    except Exception as e:
        print(f"❌ Erreur d'exécution SQL pour {query_title}: {sql_query[:50]}...")
        print(f"Détails de l'erreur : {e}")
        
    print("=" * 70 + "\n")


# --- Dictionnaire des Requêtes et Exécution ---

if __name__ == "__main__":
    
    # Prépare l'heure actuelle pour l'insertion
    NOW_STR = datetime.datetime.now().strftime('%Y-%m-%d %H:%M:%S')

    # --- 1. NETTOYAGE PRÉALABLE (ID 201 ciblé) ---
    CLEANUP_BEFORE_SQL = """
    DELETE FROM actor 
    WHERE actor_id = 201;
    """
    execute_query("Nettoyage Préalable : Suppression de l'acteur test (ID 201)", CLEANUP_BEFORE_SQL)

    # -----------------------------------------------------
    # EXERCICE 1 : SELECT, Alias, ORDER BY, LIMIT (Table film)
    # -----------------------------------------------------
    EX1_SQL = """
    SELECT title AS "Titre du Film"
    FROM film
    ORDER BY title ASC
    LIMIT 5;
    """
    execute_query("Ex. 1 : Affichage, Alias, Ordre et Limite (5 films)", EX1_SQL)


    # -----------------------------------------------------
    # EXERCICE 2 : Fonctions d'Agrégation (Table film)
    # -----------------------------------------------------
    EX2_SQL = """
    SELECT
        AVG(length) AS "Durée Moyenne (min)",
        MIN(length) AS "Durée Min (min)",
        MAX(length) AS "Durée Max (min)",
        COUNT(length) AS "Nombre de Films",
        SUM(length) AS "Somme des Durées (min)"
    FROM film;
    """
    execute_query("Ex. 2 : Agrégation (Moyenne, Min, Max, etc.)", EX2_SQL)


    # -----------------------------------------------------
    # EXERCICE 3 : INSERT (Table ACTOR - ID 201 + LAST_UPDATE)
    # -----------------------------------------------------
    # Injection de la variable Python NOW_STR dans la requête F-string
    EX3_INSERT_SQL = f"""
    INSERT INTO actor (actor_id, first_name, last_name, last_update)
    VALUES (201, 'JEAN-CLAUDE', 'VANDAMME', '{NOW_STR}');
    """
    EX3_VERIF_SQL = """
    SELECT actor_id, first_name, last_name, last_update
    FROM actor
    WHERE actor_id = 201;
    """
    execute_query("Ex. 3 : Insertion d'un nouvel acteur (ID 201)", EX3_INSERT_SQL, EX3_VERIF_SQL)


    # -----------------------------------------------------
    # EXERCICE 4 : UPDATE (Table ACTOR - Cible ID 201)
    # -----------------------------------------------------
    EX4_UPDATE_SQL = """
    UPDATE actor
    SET first_name = 'JC'
    WHERE actor_id = 201; 
    """
    EX4_VERIF_SQL = """
    SELECT actor_id, first_name, last_name, last_update
    FROM actor
    WHERE actor_id = 201;
    """
    execute_query("Ex. 4 : Modification du prénom de l'acteur (ID 201)", EX4_UPDATE_SQL, EX4_VERIF_SQL)
    
    print("--- Fin des exercices de SQL Pur ---")

======================================================================
[Nettoyage Préalable : Suppression de l'acteur test (ID 201)]
----------------------------------------------------------------------
✅ Opération DELETE réussie. Lignes affectées : 0
======================================================================

======================================================================
[Ex. 1 : Affichage, Alias, Ordre et Limite (5 films)]
----------------------------------------------------------------------
| Titre du Film    |
|:-----------------|
| ACADEMY DINOSAUR |
| ACE GOLDFINGER   |
| ADAPTATION HOLES |
| AFFAIR PREJUDICE |
| AFRICAN EGG      |
======================================================================

======================================================================
[Ex. 2 : Agrégation (Moyenne, Min, Max, etc.)]
----------------------------------------------------------------------
|   Durée Moyenne (min) |   Durée Min (min) |   Durée Max (min) |   Nombre de Films |   Somme des Durées (min) |
|----------------------:|------------------:|------------------:|------------------:|-------------------------:|
|               115.272 |                46 |               185 |              1000 |                   115272 |
======================================================================

======================================================================
[Ex. 3 : Insertion d'un nouvel acteur (ID 201)]
----------------------------------------------------------------------
✅ Opération INSERT réussie. Lignes affectées : 1

--- Vérification du changement ---
|   actor_id | first_name   | last_name   | last_update         |
|-----------:|:-------------|:------------|:--------------------|
|        201 | JEAN-CLAUDE  | VANDAMME    | 2025-11-23 15:30:39 |
======================================================================

======================================================================
[Ex. 4 : Modification du prénom de l'acteur (ID 201)]
----------------------------------------------------------------------
✅ Opération UPDATE réussie. Lignes affectées : 1

--- Vérification du changement ---
|   actor_id | first_name   | last_name   | last_update         |
|-----------:|:-------------|:------------|:--------------------|
|        201 | JC           | VANDAMME    | 2025-11-23 15:30:39 |
======================================================================

--- Fin des exercices de SQL Pur ---

In [4]:
from sqlalchemy import create_engine, text
import pandas as pd
import sys

# --- Vérification de la Dépendance Pandas ---
try:
    pd.set_option('display.max_rows', None)
    pd.set_option('display.max_columns', None)
    pd.set_option('display.width', 1000)
    # Tente d'utiliser to_markdown() pour vérifier 'tabulate'
    pd.DataFrame({"A": [1]}).to_markdown()
except ImportError:
    print("Erreur : La librairie 'tabulate' est manquante. Installez-la avec : pip install tabulate")
    sys.exit(1)

# --- Configuration et Connexion ---
DB_FILE = "sakila_master.db"
# Utilise le connecteur sqlite3 intégré
engine = create_engine(f"sqlite:///{DB_FILE}")

def execute_query(query_title, sql_query):
    """Exécute une requête SQL et affiche le résultat avec Pandas."""
    print("=" * 60)
    print(f"[{query_title}]")
    print("-" * 60)
    
    try:
        with engine.connect() as connection:
            result = connection.execute(text(sql_query))
            column_names = list(result.keys())
            data = result.fetchall()

        if not data:
            print("Aucun résultat trouvé pour cette requête.")
            return

        # Affichage avec Pandas et le format Markdown
        df = pd.DataFrame(data, columns=column_names)
        print(df.to_markdown(index=False))
        
    except Exception as e:
        print(f"Erreur d'exécution SQL pour {query_title}: {e}")
        
    print("=" * 60 + "\n")


# --- Dictionnaire des Requêtes ---
QUERIES = {
    # EXERCICE 1 : 2 Tables (customer, rental)
    "Ex. 1 : Jointure Simple (2 Tables) - 10 dernières locations": 
    """
    SELECT
        c.first_name AS "Prénom",
        c.last_name AS "Nom",
        r.rental_date AS "Date Location"
    FROM
        customer AS c
    INNER JOIN
        rental AS r ON c.customer_id = r.customer_id
    ORDER BY
        r.rental_date DESC
    LIMIT 10;
    """,

    # EXERCICE 2 : 3 Tables (rental, inventory, film)
    "Ex. 2 : Jointure à 3 Tables - 5 dernières locations PG-13":
    """
    SELECT
        f.title AS "Titre du Film",
        r.rental_date AS "Date Location"
    FROM
        rental AS r
    INNER JOIN
        inventory AS i ON r.inventory_id = i.inventory_id
    INNER JOIN
        film AS f ON i.film_id = f.film_id
    WHERE
        f.rating = 'PG-13'
    ORDER BY
        r.rental_date DESC
    LIMIT 5;
    """,
    
    # EXERCICE 3 : 4 Tables (actor, film_actor, film, language)
    "Ex. 3 : Jointure à 4 Tables - Acteurs dans des films en Anglais (15 premiers)":
    """
    SELECT DISTINCT
        a.first_name AS "Prénom Acteur",
        a.last_name AS "Nom Acteur"
    FROM
        actor AS a
    INNER JOIN
        film_actor AS fa ON a.actor_id = fa.actor_id
    INNER JOIN
        film AS f ON fa.film_id = f.film_id
    INNER JOIN
        language AS l ON f.language_id = l.language_id
    WHERE
        l.name = 'English'
    ORDER BY
        a.last_name
    LIMIT 15;
    """,
    
    # EXERCICE 4 : 5 Tables (rental, inventory, film, store, staff)
    "Ex. 4 : Jointure à 5 Tables - 5 derniers films loués par le magasin n°2":
    """
    SELECT
        f.title AS "Titre du Film",
        r.rental_date AS "Date Location",
        s.first_name AS "Prénom Employé",
        s.last_name AS "Nom Employé"
    FROM
        rental AS r
    INNER JOIN
        inventory AS i ON r.inventory_id = i.inventory_id
    INNER JOIN
        film AS f ON i.film_id = f.film_id
    INNER JOIN
        store AS st ON i.store_id = st.store_id -- Utilisation de i.store_id pour la cohérence
    INNER JOIN
        staff AS s ON r.staff_id = s.staff_id
    WHERE
        st.store_id = 2
    ORDER BY
        r.rental_date DESC
    LIMIT 5;
    """,
    
    # EXERCICE 5 : 6 Tables (customer, address, city, country, payment)
    "Ex. 5 : Jointure à 6 Tables - Clients de Londres avec > 100.00 $ de paiements":
    """
    SELECT
        c.first_name AS "Prénom Client",
        c.last_name AS "Nom Client",
        SUM(p.amount) AS "Total Dépensé"
    FROM
        customer AS c
    INNER JOIN
        address AS a ON c.address_id = a.address_id
    INNER JOIN
        city AS ci ON a.city_id = ci.city_id
    INNER JOIN
        country AS co ON ci.country_id = co.country_id
    INNER JOIN
        payment AS p ON c.customer_id = p.customer_id
    WHERE
        ci.city = 'London'
    GROUP BY
        c.customer_id
    HAVING
        "Total Dépensé" > 100.00
    ORDER BY
        "Total Dépensé" DESC;
    """
}

# --- Exécution principale ---
if __name__ == "__main__":
    print(f"--- Démarrage des 5 exercices de Jointures sur {DB_FILE} ---")
    
    # Vérification que le fichier de base de données existe
    import os
    if not os.path.exists(DB_FILE):
        print(f"\nERREUR FATALE : Le fichier de base de données '{DB_FILE}' est introuvable.")
        print("Assurez-vous qu'il est dans le même dossier que ce script.")
        sys.exit(1)

    for title, query in QUERIES.items():
        execute_query(title, query)
    
    print("--- Fin des exercices ---")

--- Démarrage des 5 exercices de Jointures sur sakila_master.db ---
============================================================
[Ex. 1 : Jointure Simple (2 Tables) - 10 dernières locations]
------------------------------------------------------------
| Prénom   | Nom      | Date Location           |
|:---------|:---------|:------------------------|
| LOUIS    | LEONE    | 2006-02-14 15:16:03.000 |
| NEIL     | RENNER   | 2006-02-14 15:16:03.000 |
| NATALIE  | MEYER    | 2006-02-14 15:16:03.000 |
| JEREMY   | HURTADO  | 2006-02-14 15:16:03.000 |
| NAOMI    | JENNINGS | 2006-02-14 15:16:03.000 |
| REGINA   | BERRY    | 2006-02-14 15:16:03.000 |
| GREG     | ROBINS   | 2006-02-14 15:16:03.000 |
| JENNY    | CASTRO   | 2006-02-14 15:16:03.000 |
| BECKY    | MILES    | 2006-02-14 15:16:03.000 |
| ALBERT   | CROUSE   | 2006-02-14 15:16:03.000 |
============================================================

============================================================
[Ex. 2 : Jointure à 3 Tables - 5 dernières locations PG-13]
------------------------------------------------------------
| Titre du Film      | Date Location           |
|:-------------------|:------------------------|
| WORLD LEATHERNECKS | 2006-02-14 15:16:03.000 |
| WANDA CHAMBER      | 2006-02-14 15:16:03.000 |
| THEORY MERMAID     | 2006-02-14 15:16:03.000 |
| SWARM GOLD         | 2006-02-14 15:16:03.000 |
| STREAK RIDGEMONT   | 2006-02-14 15:16:03.000 |
============================================================

============================================================
[Ex. 3 : Jointure à 4 Tables - Acteurs dans des films en Anglais (15 premiers)]
------------------------------------------------------------
| Prénom Acteur   | Nom Acteur   |
|:----------------|:-------------|
| CHRISTIAN       | AKROYD       |
| KIRSTEN         | AKROYD       |
| DEBBIE          | AKROYD       |
| CUBA            | ALLEN        |
| KIM             | ALLEN        |
| MERYL           | ALLEN        |
| ANGELINA        | ASTAIRE      |
| RUSSELL         | BACALL       |
| JESSICA         | BAILEY       |
| AUDREY          | BAILEY       |
| HARRISON        | BALE         |
| RENEE           | BALL         |
| JULIA           | BARRYMORE    |
| VIVIEN          | BASINGER     |
| SCARLETT        | BENING       |
============================================================

============================================================
[Ex. 4 : Jointure à 5 Tables - 5 derniers films loués par le magasin n°2]
------------------------------------------------------------
| Titre du Film    | Date Location           | Prénom Employé   | Nom Employé   |
|:-----------------|:------------------------|:-----------------|:--------------|
| ACE GOLDFINGER   | 2006-02-14 15:16:03.000 | Mike             | Hillyer       |
| AFFAIR PREJUDICE | 2006-02-14 15:16:03.000 | Mike             | Hillyer       |
| AFRICAN EGG      | 2006-02-14 15:16:03.000 | Jon              | Stephens      |
| ALI FOREVER      | 2006-02-14 15:16:03.000 | Mike             | Hillyer       |
| AMADEUS HOLY     | 2006-02-14 15:16:03.000 | Mike             | Hillyer       |
============================================================

============================================================
[Ex. 5 : Jointure à 6 Tables - Clients de Londres avec > 100.00 $ de paiements]
------------------------------------------------------------
| Prénom Client   | Nom Client   |   Total Dépensé |
|:----------------|:-------------|----------------:|
| CECIL           | VINES        |          115.74 |
============================================================

--- Fin des exercices ---